* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   height: 100vh;
   font-family: var(--font-geist-sans);
}

.root-layout {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 150px;
   background-color: #a19e9e;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   overflow-y: auto;
   z-index: 10;
}

.content {
   background-color: #a19e9ea8;
   flex-grow: 1;
   margin-left: 150px;
   overflow-y: auto;
   padding-top: 20px;
   padding-left: 20px;
   padding-bottom: 25px;
}


.footer {
   background-color: #333;
   color: white;
   text-align: center;
   padding: 15px;
   width: 100%;
}